[submodule "lib/Pester"]
	path = lib/Pester
	url = git@github.com:Jaykul/Pester.git
	branch = LanguageDecoupling
[submodule "lib/libgit2sharp"]
	path = lib/libgit2sharp
	url = git@github.com:libgit2/libgit2sharp.git
	branch = vNext
