# ignore packages (this is for nuget stuff)
/packages/*
# ignore output (because we put stuff there)
/output/*
# Ignore version number folders (these are our intermediate "output" directories for testing)
/[0-9]*/
# ignore PSTools for VisualStudio files and folders
/bin/*
/obj/*
*.suo